
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:black;
}
.search-btn{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
h1{
    width: 80%;
    color:white;
}
.search{
    border: 1px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    display:flex;
    padding: 2px;
    font-size: 1rem;
}
.search>i{
    color:white;
    border:none;
    margin-right:3px;
    align-items:center;
}
.search>input{
    border: none;
    color:black;
}
.login>a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.main{
    margin:20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
.post{
    padding: 1rem ;
    border: 1px solid black;
}
.button{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.name-date{
    font-size:.7rem;
}
.button>form{
    padding:0;
}
.blog-btn{
    margin:1rem;
    background-color:black;
    color:white;
    padding:5px;
    font-size:1rem;
    width:8rem;
    border:none;
}
.tags{
    display:flex;
    justify-content:center;
}
.tag{
    border:1px dotted black;
    padding:5px;
    font-size:1rem;
    font-weight:400;
    margin:5px;
}
.navbar2{
    margin-top:10px;
    margin-left:45%;
    width:50%;
    display:flex;
    justify-content:space-between;
}