<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/blogpost.css}">
</head>

<body>
<navbar class="navbar">
    <h1>My Blog Application</h1>
    <div class="search-btn">
        <div class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="login">
            <a href="">Login</a>
        </div>
    </div>
</navbar>
<main class="main">
    <section class="post">
        <h3>Title</h3>
        <p class="name-date">
                <span class="name">
                    Shivam
                </span>
            <span class="date">
                    18/8/2023
                </span>
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facere quia quo veniam, corporis dolor vel quasi ratione amet alias odio rem deleniti quam cupiditate fuga minima eveniet est!
            Unde impedit cumque consequatur ducimus eligendi culpa voluptatibus tempora omnis dolorum nemo quisquam tempore minus dolore, explicabo doloribus debitis voluptate, quod reiciendis consectetur dicta. Quidem perferendis accusantium ea dolor alias!
            Consequatur quis adipisci nesciunt minus odit. Aut sequi in, fugit quam dolore maiores saepe praesentium ullam similique doloribus beatae nesciunt delectus distinctio harum hic, unde ipsa deserunt quisquam id quaerat!
            Corporis ad dolorem vitae eius, deserunt est a iste itaque reprehenderit facilis quis autem, natus iure aspernatur cum veritatis placeat quod repellendus odit adipisci, dignissimos omnis accusantium maiores. Fugit, suscipit?
            Quisquam officiis voluptatibus sed beatae dignissimos! Fugiat, deleniti error dolor reprehenderit consectetur esse dignissimos odio deserunt tenetur nobis suscipit adipisci magni odit quia repellendus magnam ipsa? Similique, velit nostrum. Non.</p>
    </section>
    <section class="post">
        <h3>Title</h3>
        <p class="name-date">
                <span class="name">
                    Shivam
                </span>
            <span class="date">
                    18/8/2023
                </span>
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facere quia quo veniam, corporis dolor vel quasi ratione amet alias odio rem deleniti quam cupiditate fuga minima eveniet est!
            Unde impedit cumque consequatur ducimus eligendi culpa voluptatibus tempora omnis dolorum nemo quisquam tempore minus dolore, explicabo doloribus debitis voluptate, quod reiciendis consectetur dicta. Quidem perferendis accusantium ea dolor alias!
            Consequatur quis adipisci nesciunt minus odit. Aut sequi in, fugit quam dolore maiores saepe praesentium ullam similique doloribus beatae nesciunt delectus distinctio harum hic, unde ipsa deserunt quisquam id quaerat!
            Corporis ad dolorem vitae eius, deserunt est a iste itaque reprehenderit facilis quis autem, natus iure aspernatur cum veritatis placeat quod repellendus odit adipisci, dignissimos omnis accusantium maiores. Fugit, suscipit?
            Quisquam officiis voluptatibus sed beatae dignissimos! Fugiat, deleniti error dolor reprehenderit consectetur esse dignissimos odio deserunt tenetur nobis suscipit adipisci magni odit quia repellendus magnam ipsa? Similique, velit nostrum. Non.</p>
    </section>
</main>
</body>

</html>