<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>

<body>

</body>

</html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/createPost.css}">
</head>

<body>
    <h1>New post</h1>
    <form th:action="@{/newpostprocess}" th:object="${post}" method="post">
        <input type="text" placeholder="Title" th:field="*{title}">
        <input type="text" placeholder="excerpt" th:field="*{excerpt}">
        <input type="text" placeholder="author" th:field="*{author}">
        <input type="text" placeholder="tags" th:field="${tag.name}">
        <textarea cols="100" rows="30" th:field="*{content}"></textarea>
        <div class="btn">
            <input type="submit" value="Publish">
        </div>
    </form>
</body>

</html>