<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/show.css}">
</head>

<body>
<navbar class="navbar">
    <h1>My Blog Application</h1>
    <div class="search-btn">
        <div class="login">
            <a href="">Login</a>
        </div>
    </div>
</navbar>
<main class="main">
    <section class="post">
        <h1 th:text="${post.title}"></h1>
        <p class="name-date">
            <span class="name" th:text="${post.excerpt}"></span>
            <span class="date" th:text="${post.createdAt}"></span><br>
            <span class="author" th:text="${post.author}"></span>
        </p>
        <h2>Tags</h2>
        <span th:each="tag : ${tags}" th:text="${tag.name} + ' '"></span>
        <p class="content" th:text="${post.content}"></p>
        <section class="button">
            <form th:action="@{'/edit/' + ${post.id}}">
                <input class="blog-btn"  type="submit" value="Edit">
            </form>
            <form th:action="@{'/delete/' + ${post.id}}">
                <input class="blog-btn"  type="submit" value="Delete">
            </form>
        </section>
    </section>
</main>
<section class="comment">
    <h1>Comment</h1>
    <form th:action="@{'/newComment/'+ ${post.id}}">
        <input type="text" name="commenterName" th:value="${commenterName}" placeholder="Enter your name">
        <input type="text" name="email" th:value="${email}" placeholder="Enter your email">
        <input type="text" name="message" th:value="${message}" placeholder="Enter your comment">
        <input class="blog-btn"  type="submit" value="Add">
    </form>
</section>
</body>

</html>
